@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var isAdmin = HttpContextAccessor.HttpContext.Session.GetString("IsAdmin");
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GitGenius</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GitGenius.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GitGenius</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">דף בית</a>
                        </li>

                        @if (string.IsNullOrEmpty(userName))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">הרשמה</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">התחברות</a>
                        </li>
                        }
                        else
                        {
                            if (isAdmin == "true")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="ManageUsers">ניהול משתמשים</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">דוחות</a>
                                </li>
                            }

                            if (role == "Lecturer")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">הוספת סטודנטים</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">ניהול קבוצות</a>
                                </li>
                            }

                            <li class="nav-item">משותף לכל המשתמשים המחוברים</li>
                            <li class="nav-item"><a class="nav-link text-dark" href="#">תרגולים</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="#">קבצי רקע</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="#">התמודדות</a></li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">התנתק</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GitGenius - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
